<div style="padding-top: 5%;">
    <nz-card style="width: 80%; margin-left: auto; margin-right: auto;" [nzBordered]="true" nzTitle="Novo Endereço" [nzExtra]="extraTemplate">
        <form nz-form [formGroup]="modelForm">
            <nz-form-item>
                <nz-form-control nzErrorTip="Por favor insira um endereço">
                    <input nz-input formControlName="endereco" placeholder="Endereço" />
                </nz-form-control>
            </nz-form-item>

            <nz-form-item>
                <nz-form-control nzErrorTip="Por favor insira o número">
                    <input nz-input formControlName="numero" placeholder="Número" />
                </nz-form-control>
            </nz-form-item>

            <nz-form-item>
                <nz-form-control nzErrorTip="Por favor insira o complemento">
                    <input nz-input formControlName="complemento" placeholder="Complemento" />
                </nz-form-control>
            </nz-form-item>

            <nz-form-item>
                <nz-form-control nzErrorTip="Por favor insira o cep">
                    <input nz-input formControlName="cep" placeholder="Cep" />
                </nz-form-control>
            </nz-form-item>

            <nz-form-item>
                <nz-form-control nzErrorTip="Por favor insira o bairro">
                    <input nz-input formControlName="bairro" placeholder="Bairro" />
                </nz-form-control>
            </nz-form-item>

            <nz-form-item>
                <nz-form-control nzErrorTip="Por favor insira a cidade">
                    <input nz-input formControlName="cidade" placeholder="Cidade" />
                </nz-form-control>
            </nz-form-item>

            <nz-form-item>
                <nz-form-control nzErrorTip="Por favor insira o estado">
                    <input nz-input formControlName="estado" placeholder="Estado" />
                </nz-form-control>
            </nz-form-item>
        </form>
        <div id="mapid" style="height: 400px; margin-top: 20px;"></div>
    </nz-card>
    <ng-template #extraTemplate>
        <button nz-button nzType="default" routerLink="../../">Voltar</button>
    </ng-template>
</div>